BRAND_NAME=FRAMEX DIGITAL
BRAND_TAGLINE=Websites, event films and digital work made to get noticed.
WHATSAPP_1=8801682825667
WHATSAPP_2=8801897882052
EMAIL=hello@framexdigital.com
INSTAGRAM=https://www.instagram.com/
FACEBOOK=https://www.facebook.com/
YOUTUBE=https://www.youtube.com/
YOUTUBE_EMBED_1=https://www.youtube.com/embed/OkV1-Xjq5OA
INSTAGRAM_REEL_1=https://www.instagram.com/reel/DVvcuZ_E-3n/
STARTER_PRICE_USD=9
STARTER_PRICE_BDT=900
BUSINESS_PRICE_USD=18
BUSINESS_PRICE_BDT=1800
COMBO_PRICE_USD=25
COMBO_PRICE_BDT=2500
EVENT_PRICE_USD=80
EVENT_PRICE_BDT=8000
